<div class="sectionAbout">
    <div class="contentSection">
        <p><strong>Same Chances est né d'un constat simple : </strong></br></br>
        La représentation des femmes et de toutes les minorités en entrepise </br> ne sont pas à la 
        hauteur des valeurs que notre société actuelle met en avant. </p>
        <p>On prône l'égalité, la valorisation des compétences, la bienveillance... </br> 
        mais au delà des mots, Same Chances veut vous donner les moyens </br> de le réaliser afin de mettre en avant les 
        candidats pour leurs compétences </br> et leurs compétences uniquement.</p>
        <p>Ainsi les deux côtés sont gagnants, une entreprise peut trouver sa perle rare </br> 
        grâce à des critères objectifs, et les candidats sont tous mis </br> sur un même pied d'égalité.</p>
        <p>Ce projet vous parle à vous aussi ? 
        </br> Alors venez participer à l'aventure Same Chances avec nous !</p>
    </div>
</div>