<p>Vous pouvez vous s'inscrire selon votre profil</p>

<button>
    <%= link_to "S'inscrire en tant que candidat", new_candidate_registration_path %>
</button>
<button>
    <%= link_to "S'inscrire en tant que recruteur", new_recruiter_registration_path %>
</button>
