.title {
    text-align: center;
    margin: 20px;
}

.titleb {
    margin-bottom: 100px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttonHome {
    background-color: #66cdaa; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.buttons .buttonHome:hover {
    background-color: #f8ac4e;
}

.buttonOrange {
    background-color: #f8ac4e;
}

.buttons .buttonOrange:hover {
    background-color: grey;
}

.container {
    margin: 20px 60px;
    padding: 30px;
}

.headerHome {
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0;
    background-image: image_url('desktape.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    display: flex;
}

.contentTopSection {
    margin: auto;
}

.sectionOne {
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0;
    background-color: #66cdaa;
    color: white;
    display: flex;
}

.contentSection {
    margin: auto;
}

.infosSecondSection {
    display: flex;
    justify-content: space-between;
}

.charts {
    display: flex;
    flex-direction: column;
}

.infosCandidate {
    display: flex;
}

.profile {
    height: 200px;
    width: auto;
}

.profiles {
    display: flex;
    align-content: center;
}

.profile {
    margin: 20px;
    
}

.sectionTwo {
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0;
    display: flex;
}

.sectionThree {
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0;
    display: flex;
    background-color: #66cdaa;
    color: white;
}

footer {
    display: flex;
    padding: 10px 5px;
    background-color: #333;
    color: #fff;
}

footer p {
    flex: 1;
    margin: 0;
    padding: 20px 18px;
}

footer li {
    margin: 0;
    padding: 20px 18px;
}

footer ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

footer ul li {float: left;}
