<footer>
    <p>© 2018 Same Chances</p>
    <ul>
        <li>Termes</li>
        <li>Blog</li>
        <li><a href="/about">A propos</a></li>
        <li><a href="/about">Contact</a></li>
    </ul>
</footer>